body {
    font-family: Arial, sans-serif;
    background-color: #808080; /* Grey background */
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 400px;
    width: 90%; /* Adjust width according to your design preference */
    margin: 20px auto;
    padding: 20px;
    background-color: #333; /* Darker shade for the container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adjust shadow for depth */
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="color"],
select,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50; /* Green buttons for actions */
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* For the mode selection buttons on the mode selection page */
.mode-btn {
    padding: 15px 0;
    font-size: 16px;
    width: 100%; /* Full width for easier clicking */
    margin: 10px 0; /* Spacing between buttons */
}

#timer, .form-control label {
    color: #fff; /* White text for better readability against dark backgrounds */
}

